aiodns==3.0.0
aiohttp==3.8.6
attrs==21.2.0
brotlipy==0.7.0
cchardet==2.1.7
cffi==1.15.0
chardet==4.0.0
idna==3.3
multidict==5.2.0
pycares==4.2.0
pycparser==2.20
typing-extensions==3.10.0.2
uvloop==0.16.0
yarl==1.7.0
marshmallow==3.14.0
aiogram==2.16
python-decouple==3.5
aioredis==2.0.0
ramos==1.4.0
